name: Chapter 3 package workflow

on:
  push:
    branches: [ "main" ]
    paths:
      - 'Chapter-3-microservice-extraction/Fitnet.Common/**'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'Chapter-3-microservice-extraction/Fitnet.Common/**'

env:
  CHAPTER_DIR: 'Chapter-3-microservice-extraction/Fitnet.Common'
  NUGET_SOURCE_NAME: "evolutionaryArchitecture"

jobs: 
  build:
    defaults:
      run:
        working-directory: ${{ env.CHAPTER_DIR }}
    runs-on: ubuntu-latest
    name: Build
    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 9.0.x
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore
        
  test:
    defaults:
      run:
        working-directory: ${{ env.CHAPTER_DIR }}

    runs-on: ubuntu-latest
    name: Test
    needs: build
    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 9.0.x
      - name: Restore dependencies
        run: dotnet restore
      - name: Test
        run: dotnet test

  pack: 
    defaults:
      run:
        working-directory: ${{ env.CHAPTER_DIR }}
    runs-on: ubuntu-latest
    name: Pack and Publish
    needs: test
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 9.0.x
      
      - name: Pack Projects
        run: |
          dotnet pack Fitnet.Common.Api/Fitnet.Common.Api.csproj -c Release
          dotnet pack Fitnet.Common.Core/Fitnet.Common.Core.csproj -c Release
          dotnet pack Fitnet.Common.Infrastructure/Fitnet.Common.Infrastructure.csproj -c Release
          dotnet pack Fitnet.Common.IntegrationTestsToolbox/Fitnet.Common.IntegrationTestsToolbox.csproj -c Release

      - name: Add Evolutionary Architecture Nuget Source
        uses: evolutionary-architecture/evolutionary-architecture-by-example/.github@feature/nuget_config
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          owner: ${{ github.repository_owner }}
          path: ${{ env.CHAPTER_DIR }}
          nuget-source-name: ${{ env.NUGET_SOURCE_NAME }}
          
      - name: Publish Packages
        run: |
          dotnet nuget push "Fitnet.Common.Api/bin/Release/EvolutionaryArchitecture.Fitnet.Common.Api.*.nupkg" --source "github" --api-key ${{ secrets.GITHUB_TOKEN }}
          dotnet nuget push "Fitnet.Common.Core/bin/Release/EvolutionaryArchitecture.Fitnet.Common.Core.*.nupkg" --source "github" --api-key ${{ secrets.GITHUB_TOKEN }}
          dotnet nuget push "Fitnet.Common.Infrastructure/bin/Release/EvolutionaryArchitecture.Fitnet.Common.Infrastructure.*.nupkg" --source "github" --api-key ${{ secrets.GITHUB_TOKEN }}
          dotnet nuget push "Fitnet.Common.IntegrationTestsToolbox/bin/Release/EvolutionaryArchitecture.Fitnet.Common.IntegrationTestsToolbox.*.nupkg" --source "github" --api-key ${{ secrets.GITHUB_TOKEN }}
