name: Chapter 4 Modular Monolith workflow

on:
  push:
    branches: ["main"]
    paths:
      - "Chapter-4-applying-tactical-domain-driven-design/Fitnet/Src/**"
  pull_request:
    branches: ["main"]
    paths:
      - "Chapter-4-applying-tactical-domain-driven-design/Fitnet/Src/**"

env:
  CHAPTER_DIR: "Chapter-4-applying-tactical-domain-driven-design/Fitnet/Src"

jobs: 
  build:
    defaults:
      run:
        working-directory: ${{ env.CHAPTER_DIR }}
    runs-on: ubuntu-latest
  
    name: Build
    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.x
      - name: Add Evolutionary Architecture Nuget Source
        uses: evolutionary-architecture/evolutionary-architecture-by-example/.github@feature/nuget_config
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          owner: ${{ github.repository_owner }}
          path: ${{ env.CHAPTER_DIR }}
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore
        
  test:
    defaults:
      run:
        working-directory: ${{ env.CHAPTER_DIR }}
    runs-on: ubuntu-latest
    name: Test
    needs: build
    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.x
      - name: Add Evolutionary Architecture Nuget Source
        uses: evolutionary-architecture/evolutionary-architecture-by-example/.github@feature/nuget_config
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          owner: ${{ github.repository_owner }}
          path: ${{ env.CHAPTER_DIR }}
      - name: Restore dependencies
        run: dotnet restore
      - name: Test
        run: dotnet test
